
.wrapper
  display flex
  flex-direction column
  margin-bottom 30px
  padding 21px
  background #ffffff
  border 1px solid #9eabab

  &.opened
    padding 20px
    border 2px solid #00838f

.header
  display flex
  justify-content flex-end
  width 100%
  margin-bottom 30px
  font-size 24px

.header-title
  flex 1 1 auto
  color #00838f

.header-button
  flex 0 0 auto
  width 30px
  height 30px
  margin-left 20px
  background none
  border none
  color #8c8f90
  font-size 30px
  cursor pointer

  &.active
    color #00838f

.settings
  margin-bottom 20px
  padding 20px
  border 1px solid #bbc8c8
  color #747171
