
.wrapper
  display flex
  flex-direction column
  align-items stretch
  box-sizing border-box
  height 125px
  border 1px solid #6a8585
  text-decoration none !important

  &.active
    border 2px solid #11b3d0

    .title
      background #11b3d0
      color #ffffff

.title
  flex 0 0 auto
  height 33px
  line-height 33px
  background #edf2f2
  text-align center
  font-size 14px
  text-transform uppercase
  color #2e2e2e

.image
  flex 1 1 auto
  display flex
  justify-content center
  align-items center
  background #ffffff
  border none
