
.wrapper
  padding 20px
  background #f3f3f3

.header
  font-size 24px
  color #114e5b

.sub-header
  font-size 16px
  color #a3a3a3

.grahps
  display flex
  justify-content space-between
  align-items stretch

  & > *
    width 50%

.settings
  display flex
  justify-content space-between
