
.wrapper
  display flex
  align-items flex-start
  width 1380px
  padding 30px 0

.sidebar
  flex 0 0 auto

  .sidebar-item
    margin-bottom 30px

    &:last-child
      margin-bottom 0

.content
  flex 1 1 auto

.header
  display flex
  justify-content space-between
  margin-bottom 30px

.header-button
  background none
  border none
  color #c5c5c5
  font-size 24px

  &.active
    color #00bcd4

.header-button-icon
  margin-right 10px
