
.layout-wrapper
  display flex
  flex-direction column
  justify-content flex-start
  align-items center

.header-wrapper
  display flex
  flex-direction column
  align-items center
  width 100%
  background #2e2e2e

.top-header
.bottom-header
  display flex
  justify-content space-between
  align-items center
  width 1380px
  color #ffffff

.top-header
  height 48px
  padding-top 15px
  font-size 28px

.bottom-header
  height 68px

.top-header-icon
  margin-right 20px

.search-bar
  display flex
  align-items stretch
  width 474px
  height 34px
  background #393b3e

  .search-icon
    display flex
    justify-content center
    align-items center
    flex 0 0 auto
    width 34px
    height 34px
    margin-left 8px
    font-size 16px
    color #b4b4b4

  .search-input
    flex 1 1 auto
    background transparent
    border none
    outline none
    font-size 16px
    color #ffffff

    &[placeholder]
      color #b4b4b4

.main-menu
  display flex
  justify-content flex-start
  font-size 16px
  text-transform uppercase

  .nav-link
    margin-right 22px
    color #ffffff
    text-decoration none

    &:hover
    &.active
      color #9fd068

.user-menu-link
  margin-left 30px
  font-size 18px
  color #7f7e7e
  text-decoration none

  &:hover
    color #ffffff

.user-menu-icon
  margin-right 10px
